*, *::after,*::before{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: linear-gradient(to right, hsl(273, 39%, 68%),
     hsl(226, 70%, 69%));
}