*, *::after,*::before{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: linear-gradient(to right, hsl(273, 39%, 68%),
     hsl(226, 70%, 69%));
}

.clock{
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 50%;
    border: 2px solid black
}
/*play at 4:08*/

.clock .number {

}